.flex {
    position: relative;
    display: flex;
    padding-top: var(--logo-height);
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.small {
    font-size: medium;
}

.monospace {
    font-family: "Montserrat";
}